
/*  GERAL */


body
{
	font-family: calibri;
	background: #fff;
}

a
{
	cursor: pointer;
}

button:disabled 
{
    background: #555555 !important;
    border-color: #555555 !important;
}

.row
{
	margin: 0px;
}


.row *
{
	padding: 0px;
}

.default_margin_lateral
{
	margin-right: 15px;
	margin-left: 15px;
}

.default_margin_top
{
	margin-top: 10px;
}

.default_margin_bottom
{
	margin-bottom: 10px;
}

.border_bottom
{
	border-bottom: 1px #333333 solid;
}

.border_all
{
	border: 1px #333333 solid;	
}

.float_right
{
	float: right;
}

.float_left
{
	float: left;
}


.clear
{
	clear: both;
}

.sublinhado
{
	text-decoration: underline;
}

.font_medium
{
	font-size: 16px;
	line-height: 30px;
}

.arial
{
	font-family: Arial;
}

.height_total
{
	height: 100%;
}

.space10
{
	height: 10px;
}
.space20
{
	height: 20px;
}
.space30
{
	height: 30px;
}
.space40
{
	height: 40px;
}

.centralizado
{
	text-align: center;
}

/* ESPECIFICOS*/

#main_container
{
	margin: 0 auto;
	height: 100%;
	max-width: 954px;
	background: white;
}

#div_header
{
	height: 116px;
}

#div_numero_associado
{
	min-height: 120px;
}

#main_title
{
	line-height: 112px;
    color: #0059B2;
    font-size: 42px;
}

.bold
{
	font-weight: bold;
}

#inf_login
{
	position: absolute;
    bottom: 46px;
    right: 0px;
    font-size: 14px;
    font-weight: bold;
}


#inf_alterar_senha
{
	position: absolute;
    bottom: 26px;
    right: 0px;
    font-size: 14px;
    font-weight: bold;
}

#link_sair
{
	position: absolute;
    bottom: 8px;
    right: 0px;
    font-size: 14px;
    font-weight: bold;
}

#div_dados_associado1
{
	height: 140px;
}


#div_dados_associado2
{
	margin-right: 15px;
	margin-left: 15px;
}

#div_status_carteira
{
	font-size: 18px;
}

.carteira_inativa
{
	color: #D80000;
	float:right;
}


.carteira_ativa
{
	color: #00D800;
}

#div_agendamentos
{

}

.form-control
{
	height:38px;
	border-radius:0px;
}

.btn
{
	height:38px;
	border-radius:0px;
}

/* AGENDAMENTOS */


.btn_imprimir
{
	position: absolute;
    bottom: 50px;
    right: 0px;
}

.btn_autorizar
{
	position: absolute;
    bottom: 0px;
    right: 0px;
    width: 144px;
}

.btn_cancelar
{
	position: absolute;
    bottom: 0px;
    right: 156px;
}

.btn_desautorz
{
	position: absolute;
    bottom: 0px;
    right: 156px;
}
/* NOVA GUIA */


#outer_table_procedimentos_guia
{
	border: solid #333333 1px;
	height: 200px;
	margin-top: 16px;
}


#table_procedimentos_guia
{
	width: 100%;
	overflow: scroll;
	font-size: 16px;
	color: #646472;
}

#table_procedimentos_guia tr
{
	border-bottom: solid #333333 1px;
	height: 32px;
}



#table_procedimentos_guia td
{
	border-right: solid #333333 1px;
}


#table_procedimentos_guia td:last-child
{
	border: none;
}


.td_delete_proc
{
	width: 32px;
	text-align: center;
	color:red;
	font-weight: 900;
	cursor: pointer;
	font-size: 20px;
}

.td_valord_proc
{
	width: 100px;
	text-align: right;
	padding-right: 10px;
	padding-left:  10px;
}

.td_nomedo_proc
{
	padding-right: 10px;
	padding-left:  10px; 
}


#input_num_contrato
{
	float: left;
	width: 200px;
	margin-right: 10px;
}


#input_num_matricula
{
	float: left;
	width: 200px;
	margin-right: 10px;
}



#input_nomedo_associado
{
	float: left;
	width: 200px;
	margin-right: 10px;
}


#input_cpf_do_associado
{
	float: left;
	width: 200px;
	margin-right: 10px;
}


/*  MENU */

#div_menu_principal
{
	width: 100%;
	height: 40px;
	padding-left: 15px;
	padding-right: 15px;
}

#div_menu_principal div
{
	width: 50%;
	line-height: 40px;
	cursor: pointer;
	background-color: rgb(221, 221, 221);
	float: left;
	text-align: center;
}

#div_menu_principal div:hover
{
	background-color: rgb(185, 185, 185);
}


#div_menu_principal .selected_menu
{
	background-color: rgb(200, 200, 200) !important;
}


/*  FILTROS */

#input_data_dee_filtroguias
{
	float: left;
	width: 120px;
	margin-right: 10px;
}

#input_data_ate_filtroguias
{
	float: left;
	width: 120px;
	margin-right: 10px;
}

#input_associad_filtroguias
{
	float: left;
	width: 260px;
	margin-right: 10px;
}

#select_statusd_filtroguias
{
	float: left;
	width: 160px;
	margin-right: 10px;
}

#bt_pesquisar_relatorio_guias
{
	float: left;
	margin-right: 10px;
}

